*
  box-sizing: border-box
  font-family: 'Montserrat', sans-serif;
ul[class],
ol[class] 
  padding: 0
  margin: 0
body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd 
  margin: 0
  padding: 0
body 
  scroll-behavior: smooth
  text-rendering: optimizeSpeed
  line-height: 1.5
  background:  #fff
ul[class],ol[class] 
  list-style: none
img 
  max-width: 100%
  display: block
article > * + * 
  margin-top: 1em
input, button, textarea, select 
  font: inherit
.average-table, .infolist, .form, .add_event
  display: block
  padding-top: 150px
.request_error
  display: block
  padding-top: 285px
  a
    color: #459fed
    text-decoration: none
  h4
    font-size: 50px
    font-weight: 300
    text-align: center  
  p
    font-size: 20px
    font-weight: 400
    text-align: center
    margin-top: 5px
    &:nth-child(1)
      margin-top: 20px
      

.form
    width: 380px
    margin: 0 auto
    &-control
        width: 100%   
        position: relative
        input, textarea
            display: block
            outline: none
            width: 100%
            background: rgba(0, 0, 0, 0)
            border: none
            border-bottom: 1px solid #e1e1e1
            margin-top: 10px
            padding: 17px 15px 10px 10px
            font-size: 20px
            color: black
            font-family: inherit
            cursor: pointer
            font-weight: 300 
            transition: 0.5s all linear
            &:valid + label, &:focus + label
                top: 0
                left: 10px
                font-size: 13px 
            &:hover
              border-bottom: 1px solid  black
            &:focus
                border-bottom: 2px solid #4eb7f5

        textarea:valid + label, textarea:focus + label 
            display: none
            opacity: 0
        label
            font-weight: 300
            cursor: pointer
            display: block
            position: absolute
            left: 15px
            top: 24px
            color: black
            font-size: 20px
            transition: 0.2s all linear
        [name="email"]
            margin-top: 50px
        [name="password"], [name="password_again"],  [name="name"],  [name="content"],[for="show_password"],  [name="photo"]
            margin-top: 20px
            resize: none
        [name="photo"]
            font-size: 100%
        [for="remember"]
            margin-top: 25px
                


input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked)
    font-weight: 300
    position: absolute
    left: -9999px
    &+label
        margin-top: 25px
        display: inline-block
        position: relative
        padding-left: 28px
        line-height: 20px
        cursor: pointer
        &::before
            content: ""
            position: absolute
            left: 0px
            top: 0px
            width: 18px
            height: 18px
            border: 1px solid #dddddd
            background-color: #ffffff
            border-radius: 2px
        &::after
            content: ""
            position: absolute
            left: 1px
            top: 3px
            width: 15px
            height: 8px
            border-radius: 1px
            transition: all 0.2s linear
            border-left: 4px solid #4eb7f5
            border-bottom: 4px solid #4eb7f5
            transform: rotate(-45deg)
input[type="checkbox"]:not(:checked) + label:after
    opacity: 0
input[type="checkbox"]:checked + label:after
    opacity: 1


.submit-button
    display: block
    font-weight: 400
    display: flex
    justify-content: center
    align-items: center
    width: 50%
    height: 40px
    background-color: #fff
    height: 50px
    color: black
    border-radius: 100px
    color: #4eb7f5
    border: none
    text-transform: uppercase
    font-size: 16px
    margin-top: 25px
    margin-bottom: 75px
    cursor: pointer
    border: 1px solid #4eb7f5
    transition: .2s all linear
    outline: none
    &:hover
        background-color: #4eb7f5
        box-shadow: inset 0 0 0 1px #3899ec
        outline: none
        color: #fff





.menu
  z-index: 9
  display: block
  width: 100%
  padding: 15px 0
  height: 120px
  font-size: 20px
  font-weight: 300
  position: absolute
  background-color: rgba(0, 0, 0, 0)
  color: #20303c
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center 
    a
      color: color: #20303c
      height: 100%
      text-decoration: none
      position: relative
      &::after
        content: ''
        display: block
        width: 100%
        height: 2px
        background-color: #4eb7f5
        position: absolute
        top: 100%
        opacity: 0
        left: 0
        transition: .2s all linear
      &:hover::after
        transition: .2s all linear
        opacity: 1
  &_ul
    width: 600px
    display: flex
    font-style: oblique
    justify-content: space-between
    align-items: center
  &_li
    display: block
    height: 100%
    font-weight: 400
  &_logo
    letter-spacing: 5px
    display: flex
    justify-content: center
    align-items: center
    height: auto
    font-weight: 400
    width: 144px
    padding: 12px
    border: 1px solid black
    span
      color: #2F2E2E
      text-decoration: none







.overlay
  position: relative
  .form
    padding-top: 40px
      
  
.hamburger
  display: none
  z-index: 10
  cursor: pointer
  position: absolute
  right: 0
  top: 40px
  width: 32px
  height: 32px
  &:hover 
    &:before, &:after 
      background-color: #4eb7f5
  &:before, &:after 
    position: absolute
    left: 15px
    content: ' '
    height: 33px
    width: 1px
    background-color: black

  &:before 
    transform: rotate(45deg)
  &:after 
    transform: rotate(-45deg)
.alert-danger
  font-weight: 300

.modal
  height: 840px
  &__descr
    padding-top: 160px
    text-align: center
    color: #20303c
    font-size: 53px
    font-weight: 300
    &_pt200px
      padding-top: 200px
      
      
  &__hr
    margin-top: 17px
    text-align: center
    color: #20303c
    font-weight: 300
    font-size: 20px
    span
      color: #459fed
      cursor: pointer
  &_reg
    padding-top: 0