<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap-grid.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.min.css">
    <title>Доброе дело</title>
</head>
<body>
    <!-- <header class="page-header">
            <div class="dws-menu">
                <ul class="dws-ul">
                    <li class="dws-li"><a href="/">Главная</a></li>
                    <li class="dws-li"><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Фонды</a></li>
                    <li class="dws-li"><a href="/events"><i class="fa fa-server" aria-hidden="true"></i>Карта</a></li>
                    <li class="dws-li"><a href="/add_event"><i class="fa fa-folder-open" aria-hidden="true"></i>Добавить</a></li>
                    <li class="dws-li"><a href="/"><i class="fa fa-folder-open" aria-hidden="true"></i>Новости</a></li>
                    {% if current_user.is_authenticated %}          
                        <li class="dws-li"><a href="/user/{{ current_user.id }}"><i class="fa fa-folder-open" aria-hidden="true"></i>Личный кабинет</a></li>
                    {% else %}
                        <li class="dws-li"><a href="/login"><i class="fa fa-server" aria-hidden="true"></i>Войти</a></li>
                        <li class="dws-li"><a href="/registration"><i class="fa fa-folder-open" aria-hidden="true"></i>Зарегистрироваться</a></li>
                    {% endif %}
                </ul>
            </div>
    </header> -->
    <header class="menu">
        <div class="container">
            <div class="menu__wrapper">
                <a href="/"><div class="menu_logo">ДЕЛАЙ <br> ДОБРО</div> </a>
                <ul class="menu_ul">
                    <li class="menu_li"><a href="/">Главная</a></li>
                    <li class="menu_li"><a href="/add_event">Добавить</a></li>
                    <li class="menu_li"><a href="/events">Карта</a></li>
                    <li class="menu_li"><a href="/">Новости</a></li>
                    {% if current_user.is_authenticated %}          
                            <li class="menu_li"><a href="/user/{{ current_user.id }}">Личный кабинет</a></li>
                    {% else %}
                            <li class="menu_li"><a href="/login">Войти</a></li>
                            <li class="menu_li"><a href="/registration">Зарегистрироваться</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div>
            {% block content %}{% endblock %}
        </div>
    </main>
    {% block scripts %}{% endblock %}
</body>
</html>
