<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap-grid.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.min.css">
    <title>Доброе дело</title>
</head>
<body>
    <header class="menu">
        <div class="container">
        <div class="menu__wrapper">
            <a href=""><div class="menu_logo">ДЕЛАЙ <br> ДОБРО</div> </a>
            <ul class="menu_ul">
                <li class="menu_li"><a href="/">Главная</a></li>
                <li class="menu_li"><a href="/add_event">Добавить</a></li>
                <li class="menu_li"><a href="/events">Карта</a></li>
                <li class="menu_li"><a href="/">Новости</a></li>
                {% if current_user.is_authenticated %}          
                        <li class="menu_li"><a href="/user/{{ current_user.id }}">Личный кабинет</a></li>
                {% else %}
                        <li class="menu_li"><a href="/login">Войти</a></li>
                        <li class="menu_li"><a href="/registration">Зарегистрироваться</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    </header>
    <main>
        <div>
            {% block content %}{% endblock %}
        </div>
    </main>
    {% block scripts %}{% endblock %}
</body>
</html>
