{% extends "base.html" %}

{% block content %}
    <div class="container">
    <div class="infolist">
        <div class=''>
            <div>
                <img src="data:image/png;base64,{{ map_photo }}" height="300px" alt="">
                {% if event.photo %}
                <img src="/{{ event.photo.path }}" height="300px">
                {% endif %}
                <h2>Событие - {{ event.content[:15] + "..." }}</h2>
                <h4>#id <span style='color: red'>{{ event.id }}</span></h4>
                <p>Описание - {{ event.content }}</p>
                {% if current_user.is_authenticated and current_user.id == event.user_id %}
                    <b><a href="/add_event_addition/{{ event.id }}" class='link'>Добавить пометку</a></b>
                {% endif %}
                {% if event.additions %}
                    {% for addition in event.additions %}
                        <hr>
                        <div>{{ loop.index }}){{ addition }}</div>
                    {% endfor %}
                    <hr>
                {% endif %}
            </div>
            Адрес - {{ event.address }}
            <br>
            {% if current_user.is_authenticated and current_user.id == event.user_id %}
                <a href="/del_event/{{ event.id }}" class='link'>Удалить событие</a>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}
