{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
    <div class="container">
    <h4>Просим прощения!</h4>
    <p>За 12 часов вы можете рассказать только о 15 животных</p>
    <p>Данное ограничение установлено для защиты от злоумышленников</p>
    <p>Однако если вы по-честному достигли данного ограничения, 
        то вы достойны всех похвал; Просим подождать до обнуления 12-часового периода</p>
{% else %}
    <h4>Просим прощения!</h4>
    <p>Вы, как незарегестрированный пользователь, можете рассказать только об одном животном раз в 12 часов</p>
    <p>Чтобы снять это ограничение, пожалуйста, <a href="/registration" class='link'>зарегистрируйтесь</a> или <a href="/login" class='link'>войдите</a></p>
</div>
{% endif %}
{% endblock %}