{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="request_error">
{% if current_user.is_authenticated %}
<h4>Просим прощения!</h4>
<div class="descr">
<p>За 12 часов вы можете рассказать только о 15 животных.</p>
<p>Данное ограничение установлено для защиты от злоумышленников.</p>
<p>Однако, если вы по-честному достигли данного ограничения,
то вы достойны всех похвал!</p>
<p>Наши поздравления!</p>
</div>
{% else %}
<h4>Просим прощения!</h4>
<div class="descr">
<p>Вы, как незарегестрированный пользователь, можете рассказать только об одном животном раз в 12 часов.</p>
<p>Чтобы снять это ограничение, пожалуйста, <a href="/login" class='link'>войдите</a>.</p>
</div>
{% endif %}
</div>
</div>
{% endblock %}