{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="average ">
            {% for event in events %}
            <div class="average__wrapper col-12">
                    <div class="average__img"><img src="/{{ event.photo.path }}" class="photo"></div> 
                    <div class="average__subwrapper"> 
                            <div class="average__event"><a href="/event/{{ event.id }}">{{ event.content[:15] + "" }} {{""}}</a></div>
                        <address class="average__adress">{{ event.address }}</address>
                    </div>
                    
            </div>
            {% endfor %}
    <!-- <a href="/add_event" class="add_event" ></a> -->
</div>
{% endblock %}
