{% extends "base.html" %}

{% block content %}
    {% from "macros/render_field.html" import render_field %}
    <div class="container">
    <div class="overlay">
        <div class="modal">
            <div class="modal_reg" id="modal_reg" style='display: none;'>
                <h1 class="modal__descr">Новый аккаунт</h1>
                <div class="modal__hr">У вас уже есть аккаунт?<span class="vt" id='vt'> Войти</span></div>
                <form method="post" class="form" enctype="multipart/form-data" >
                    {{ form_reg.hidden_tag() }}
                    {{ form_reg.csrf_token() }}
                    {{ render_field(form_reg.email_reg, class="form-field") }}
                    {{ render_field(form_reg.name_reg, class="form-field") }}
                    {{ render_field(form_reg.password_reg, class="form-field password") }}
                    {{ render_field(form_reg.password_again_reg, class="form-field") }}
                    <!-- {{ render_field(form_reg.remember_reg) }} -->
                    {{ render_field(form_reg.show_password_reg, class="show-password") }}
                    <section>
                        <div class="alert-danger" id="lol_reg">{{ message_reg }}</div>
                        {{form_reg.submit_reg(class='submit-button') }}
                    </section>
                </form>
            </div>
            <div class="modal_log" id="modal_log">
                <h4 class="modal__descr modal__descr_pt200px">Вход</h4>
                <div class="modal__hr">У вас еще нет аккаунта?<span class="sz" id="sz"> Создать</span></div>
                <form method="post" class="form">
                    {{ form_log.hidden_tag() }}
                    {{ form_log.csrf_token() }}
                    {{ render_field(form_log.email_log, class="form-field email")}}
                    {{ render_field(form_log.password_log, class="form-field password") }}
                    {{ render_field(form_log.show_password_log, class="show-password") }}
                    {{ render_field(form_log.remember_log) }}
                    <section>
                        <div class="alert-danger" id='lol_log'>{{ message_log }}</div>
                        {{ form_log.submit_log(class='submit-button') }}
                    </section>
                </form>
            </div>
        </div>
        <div class="hamburger" id="hamb" style="cursor: pointer;" onclick="history.back();return false;" ></div>
    </div>
</div>
{% endblock %}

{% block scripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="static/js/login.js"></script>
    <script src="static/js/jquery.cookie.js"></script>
    <script src="static/js/showPassword.js"></script>
    <script src="static/js/jquery.js"></script>
{% endblock %}